/*----------HEADER----------*/
header{  
    position: sticky;
    top: 0px;
    z-index: 2;
}

header nav{
    background-color: $color-primario;
}

.enlaces-nav{
    color: $color-secundario;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.logo{
    width: 200px;
    margin: 18px 0px 18px 20px;
}

.icono-menu{
    color: $color-secundario;
    font-size: 40px;
}